.container {
    background-color: #21232e;
    min-height: 100vh;
}

.leagueList {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 50px;
}

.leagueListChild {
    margin-right: 30px;
    color: white;
}

.createLeagueContainer {
    margin-top: 50px;
}