.container {
    color: white;
}


.tables {
    border-collapse: collapse;
    width: 100%;
    background-color: #ffffff;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    color: #000000;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
  }  
  
  .tables thead tr {
    color: black;
    text-align: left;
  }
  
  .tables th,
  .tables td {
      padding: 12px 15px;
  }
  
  .tables tbody tr {
    border-bottom: 1px solid #dddddd;
  }
  
  .tables tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  
  .tables tbody tr.active-row {
    font-weight: bold;
  }
  
  
  