.container {
    background-color: #21232e;
    min-height: 100vh;
    color: white;
}

.playerList{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.playerListChild {
    padding: 20px;
    margin-right: 30px;
}

.stats {
    margin-right: 5px;
}

.submitTeam {
    margin-top: 10px;
}